mat-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: rgb(214, 214, 223);
}

mat-toolbar {
  background-color: white;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color:rgba(10, 10, 10, 0.223)
}
