mat-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: rgb(229, 214, 231);
  border-radius: 10px;
  padding: 5px;
  color: purple
}

mat-toolbar {
  background-color: white;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color:rgba(10, 10, 10, 0.223)
}
